<!doctype html>
<html>
<head>
    <title>Handlebars demo</title> </head>
<body>
<form action='' enctype="multipart/form-data" method='post'>
    <input type='file' name='image'>
    <input type='submit'>
</form>
</body>
</html>